.Hello{
   height:100%;
    background-image: url(wp2506842-nature-4k-wallpapers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
   
}

